
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .loading-gif {
      width: 150px; // Adjust the size as needed
      height: 150px; // Adjust the size as needed
    }
  
    .text-block {
      font-family: "Work Sans", sans-serif;
      font-weight: 800;
      text-align: center;
      margin-top: 20px;
    }
  }